html,
body {
    /* background: #ebde91; */
    font-size: 14pt;
    background-image: url('./images/sandeep_chair.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    text-align: center;
}

.parent {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    /* background-color: #2196F3; */
    /* padding: 10px; */
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transform: translateX(10%);
}

video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#aprlfls {
    background-image: url('./images/Sandeep.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}


img {
    position: relative;
    /* height: 100%;
    width: 100%; */
}

button {
    display: block;
    width: 50%;
    height: 50%;
    position: relative;
    transform: translate(75%, 25%);
}

/* video {
    visibility: hidden;
} */